@charset "UTF-8";


* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, Sans-Serif;
  box-sizing: border-box;
}

:root {
  --cor01: #5f2c82;
  --cor02: #49a09d;
}

body {
  background-color: var(--cor01);
}

#login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
}

#imagem {
  background-color: white;
  height: 35vh;
  border-radius: 20px 20px 0px 0px;
  background-image: url('../imagens/metal.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
}

#cadastro {
  background-color: white;
  padding: 10px;
  border-radius: 0px 0px 20px 20px;
}

#cadastro h1 {
  text-align: center;
  margin: 10px;
}

#cadastro p {
  margin-bottom: 10px;
}

#email-box, #senha-box {
  background-color: var(--cor01);
  margin-bottom: 5px;
  text-align: right;
  padding: 5px;
  border-radius: 10px;
}

#senha, #email {
  border: 0px;
  border-radius: 10px;
  padding: 10px;
  width: 85%;
}

#email {
  background-color: var(--cor02);
  font-size: 1em;
}


#senha {
  background-color: var(--cor02);
  font-size: 1em;
}

#email:hover, #senha:hover {
  background-color: white;
}

p.entrar {
  display: block;
  padding: 10px;
  background-color: var(--cor02);
  border-radius: 10px;
}

input.entrar {
  font-size: 1.2em;
  width: 100%;
  background-color: var(--cor02);
  border: 0px;
  text-align: center;
  color: white;
}

a {
  border: 1px solid var(--cor02);
  border-radius: 10px;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
  color: var(--cor02);
  display: block;
  text-decoration: none;
}